.heading {
  text-align: center;
}

.columns {
  float: left;
  width: 50%;
  padding: 10px;
  min-height: 400px;
}

.rows:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 768px) {
  .columns {
    width: 100%;
  }
}


.gridItem {
  display:flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease-in-out;
}
.columns img {
  width: 100%;
  aspect-ratio: 3/4;
  border-radius: 4px;
}


.columns ul {
  text-align: center;
  list-style-type: none;
}

.columns li {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1vh;
  font-size: calc(15px + (30 - 15) * ((100vw - 300px) / (1920 - 300)));
}

.columns li h1 {
  font-size: calc(30px + (60 - 30) * ((100vw - 300px) / (1920 - 300)));
  padding: 5vh 0;
}

.columns li a, span {
  margin-left: 1rem;
  text-decoration: none;
}
