.avatar {
  width: 100px;
  height: 100px;
}

.colBtn {
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: var(--nred);
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.container {
  display:flex;
  align-items: center;
  justify-content: center;
}

.item {
  list-style-type: none;
}

.tg {
  border-collapse: collapse;
  border-spacing: 0;
}
.tg td {
  font-size: calc(15px + (20 - 15) * ((100vw - 300px) / (1920 - 300)));
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}
.tg th {
  font-size: calc(15px + (20 - 15) * ((100vw - 300px) / (1920 - 300)));
  font-weight: normal;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}
.tg .tg0Lax {
  text-align: left;
  vertical-align: top;
}
@media screen and (max-width: 767px) {
  .tg {
    width: auto !important;
  }
  .tg col {
    width: auto !important;
  }
  .tgWrap {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
}
/* Back Pulse */
@-webkit-keyframes hvrBackPulse {
  50% {
    background-color: var(--nred);
  }
}
@keyframes hvrBackPulse {
  50% {
    background-color: var(--nred);
  }
}

.hvrBackPulse {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  overflow: hidden;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
.hvrBackPulse:hover, .hvrBackPulse:focus, .hvrBackPulse:active {
  -webkit-animation-name: hvr-back-pulse;
  animation-name: hvr-back-pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  background-color: var(--red);
  background-color: var(--red);
  color: var(--broken-white);
}
