.gridItem {
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}
.gridItem img {
  width: 100%;
  height: auto;
  aspect-ratio: 3/4;
  transition: transform 0.3s ease-in-out;
}

.gridItem:hover {
  filter: opacity(0,9);
  transform: scale(1.04);
}

.gridContainer {
  display: grid;
  grid-template-columns:repeat(auto-fill, minmax(150px, 300px));
  grid-auto-rows: 1fr;
  align-items: top;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.gridItemTitle {
  grid-column-start: 1;
  grid-column-end: -1;
  grid-template-rows: 50px;
}



.title > h1 {
  text-align: center;
  padding: 20px;
  font-size: calc(30px + (60 - 30) * ((100vw - 300px) / (1920 - 300)));
  text-transform: uppercase;
}

.itemTitle {
  display:flex;
  padding: 10px 0;
}

.itemTitle > h2 {
  text-align: center;
  padding: 10px;
  font-size: calc(10px + (20 - 10) * ((100vw - 300px) / (1920 - 300)));
  text-transform: uppercase;
}

.colBtn {
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: var(--light-purple);
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.gridItemUser {
  text-align: center;
  font-size: calc(15px + (30 - 15) * ((100vw - 300px) / (1920 - 300)));
}

/* Back Pulse */
@-webkit-keyframes hvrBackPulse {
  50% {
    background-color: var(--light-purple);
  }
}
@keyframes hvrBackPulse {
  50% {
    background-color: var(--light-purple);
  }
}
.hvrBackPulse {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  overflow: hidden;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
.hvrBackPulse:hover, .hvrBackPulse:focus, .hvrBackPulse:active {
  -webkit-animation-name: hvr-back-pulse;
  animation-name: hvr-back-pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  background-color: var(--lighter-purple);
  background-color: var(--lighter-purple);
  color: white;
}
