.footer {
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  background: linear-gradient(45deg, #8050bf, rgb(0, 0, 0));
  color: white;
  font-weight: bold;
  font-family: fredoka;
  font-size: 1.4rem;
  height: 5vh;
}
.heart {
  color: var(--red);
  font-size: 2.1rem;
  padding: 0 .3em;
}
