@import url("https://fonts.googleapis.com/css2?family=Fredoka&family=Lato&family=Rubik&family=Smooch+Sans&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  color: #f9f9f9;
}
:root {
  font-size: 0.785rem;
  font-family: "Rubik", sans-serif;
  --blue: #0d6efd;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #d63384;
  --red: #dc3545;
  --nred: #e30012;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #198754;
  --teal: #20c997;
  --cyan: #0dcaf0;
  --dark: #232323;
  --darker: #1c1b1b;
  --light-gray: #d0dbe3;
  --broken-white: #f9f9f9;
  --light-purple: #8050bf;
  --lighter-purple: #a17ecf;
  --dark-lesser: #2a2a2c;
  --dark-least: #2f2f31;
}

/* Vertical and horizontal centering */

.flexCenter {
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}
.flexColumn {
  flex-direction: column;
}
.w100 {
  width: 100%;
}
.h100 {
  height: 100%;
}
.defaultForm {
  width: 40%;
  padding: 1.5em 1em;
  background-color: var(--dark-lesser);
  border-radius: 0.3rem;
  font-size: 1.2rem;
}
.defaultForm input,
.defaultForm button {
  width: 100%;
  padding: .5rem .3rem;
  margin: 1em 0 0;
  border-radius: 0.3rem;
  background-color: var(--dark-least);
  font-size: 1.5rem;
}
.defaultForm input {
	border: 1px solid #3c3c3f;
}
.defaultForm button {
  color: var(--broken-white);
  background-color: var(--light-purple);
}