.flexCenter {
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}
.flexColumn {
  flex-direction: column;
}
.w100 {
  width: 100%;
}
.h100 {
  height: 100%;
}
.defaultForm {
  width: 100%;
  padding: 1em 1em;
  background-color: var(--dark-lesser);
  border-radius: 0.3rem;
  font-size: 1.2rem;
}

.flexCenter > img {
  width: 20%;
  height: auto;
  aspect-ratio: 1/1;
}

.flexCenter > h1 {
padding: 1.5em;
font-size: calc(30px + (60 - 30) * ((100vw - 300px) / (1920 - 300)));
}

.flexCenter > h2 {
  padding: 1.5em;
  font-size: calc(15px + (30 - 15) * ((100vw - 300px) / (1920 - 300)));
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}



.defaultForm input,
.defaultForm select,
.defaultForm button {
  width: 100%;
  padding: .5rem .3rem;
  margin: 0.5em 0 1em 0;
  border-radius: 0.3rem;
  background-color: var(--dark-least);
  font-size: 1.5rem;
}
.defaultForm input {
	border: 1px solid #3c3c3f;
}
.defaultForm button {
  color: var(--broken-white);
  background-color: var(--light-purple);
}

@media only screen and (max-width: 576px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 576px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}

/* Extra large devices (Even larger laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1400px) {
}
