.itemlist {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.itemlist li {
  width: 15%;
}

.item {
  margin: 2em 1em;
}

.item h2 {
  text-align: center;
  font-size: 3em;
  padding: 0 0 2rem;
}
.item img {
  width: 100%;
  height: auto;
  border-radius: 2%;
  object-fit: cover;
  object-position: center top;
  aspect-ratio: 3/4;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* Grow */
.hvrGrow {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}

.hvrGrow:hover,
.hvrGrow:focus,
.hvrGrow:active {
  transform: scale(1.1);
}

.container h1 {
  font-size: 8rem;
  text-align: center;
}

.container h2 {
  font-size: 3rem;
  font-weight: 900;
  text-align: center;
}

.container a {
  text-decoration: none;
}

@media only screen and (max-width: 576px) {
  .container {
    display: block;
  }
  .leftside {
    width: 100vw;
  }

  .container h1 {
    font-size: 4rem;
  }

  .container h2 {
    font-size: 2rem;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 576px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}

/* Extra large devices (Even larger laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1400px) {
}
